body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color:#F3B99F
}
	
.wrapper{
	background: #F5DEC1;
	width: 820px;
	height: 750px;
	border-radius: 16px;
	box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
		    0 32px 64px -48px rgba(0,0,0,0.5);
	display: flex;
	position: fixed;
}
.form{
	padding:25px 30px;
}
.form header{
	font-size: 25px;
	font-weight: 600;
	color: #563C26;
	padding-bottom: 10px;
	text-align: center;
}
.form form{
	margin: 20px 0;
}
.form form .error-txt{
	color: #721C24;
	background: #F8D7DA;
	padding: 8px 10px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 10px;
	border: 1px solid #DC3545;
}
.form form .nameAndCountry-details{
	display:flex;
}
.form .nameAndCountry-details .field:first-child{
	margin-right: 10px;
}
.form .nameAndCountry-details .field:last-child{
	margin-left: 10px;
}
.form form .field{
	display: flex;
	flex-direction: column;
	background: #F5DEC1;
	color: #A7443B;
	margin-bottom: 10px;
}
.form form .field label{
	margin-bottom: 2px;
	color: #A7443B;
}
.form form .input input{
	height: 40px;
	width: 100%;
	font-size: 15px;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.form form .select select{
	height: 40px;
	width: 100%;
	font-size: 15px;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.form form .image input{
	font-size: 17px;
}
.form form .registerButton input{
	margin-top: 13px;
	height: 45px;
	border:none;
	font-size: 17px;
	font-weight: 400;
	background: #563C26;
	color: #F5DEC1;
	border-radius: 5px;
	cursor: pointer;
}
.form form .loginButton input{
	margin-top: 13px;
	height: 45px;
	border:none;
	font-size: 17px;
	font-weight: 400;
	background: #563C26;
	color: #F5DEC1;
	border-radius: 5px;
	cursor: pointer;
}
.form .link{
	text-align:center;
	margin: 10px 0;
	font-size: 17px;
	color: #A7443B;
}
.form .link a:hover{
	text-decoration: underline;
}
.friends{
	padding: 25px 30px;
	width: 295px;
}
.friends header{
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	justify-content: space-between;
	border-bottom: 1px solid #563C26;
}

.friends .FriendlistBottom{
	margin-top: 120px;
    	position: absolute;
    	bottom: 25;
}
.wrapper img{
	object-fit:cover;
	border-radius: 50%;
}
:is(.friends, .friendslist, .chat, .addFriend header, .homeland) .content{
	display: flex;
	margin-bottom: 15px;
}

.friends header .content img{
	height: 70px;
	width: 70px;
}
.friendslist .content img {
	height: 45px;
	width: 45px;
	margin: 2 0 2 0;
}
:is(.friends, .chat header, .addFriend header, .homeland) .details{
	color: #000;
	margin: 3 0 0 10;
}
:is(.friends, .friendslist) .details span{
	font-size: 18px;
	font-weight: 500;
	margin-right: 20px;
}
.friends header .Addfriend{
	color: #F5DEC1;
	height: 35px;
	font-size: 17px;
	padding: 7px 15px;
	background: #563C26;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	position: absolute;
    right: 530;
	top: 50;
}
.friends header .Addfriend:hover {
	background: #497E82;
}
.friends .search{
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.friends .search .text{
	font-size: 18px;
}
.friends .search input{
	position: absolute;
	height: 42px;
	width: 212px;
	border: none;
	padding: 0 13px;
	font-size: 16px;
	border-radius: 5px 0px 0px 5px;
}
.friends .search button{
	width: 47px;
	height: 41px;
	border: none;
	outline: none;
	color: #F5DEC1;
	background: #563C26;
	cursor: pointer;
	font-size: 17px;
	border-radius: 0 5px 5px 0;
}
.friendslist{
	max-height: 450px;
	overflow-y: auto;
}
:is(.friendslist, .chatfenster)::-webkit-scrollbar{
	width: 0px;
}

.friendslist .details {
	color: #000;
	margin: 10 0 0 10;
}

.friendslist .content:hover{
	background-color: #FAF2E6;
	border-radius: 5px;
	border: none;
}

.friendslist a{
	padding-right: 15px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #000;
}

.friendslist a .content img{
	height: 40px;
	width: 40px;
}
.chat{
	padding: 25px 30px;	
	width: 500px;
}
.chat header{
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	margin-bottom: 10px;
	justify-content: space-between;
}
.chat header .logout{
	color: #F5DEC1;
	height: 35px;
	font-size: 17px;
	padding: 7px 15px;
	background: #563C26;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	position: absolute;
	right: 30;
	top: 50;
}

.chat header .content img{
	height: 60px;
	width: 60px;
}
.chat header span{
	font-size: 17px;
	font-weight: 500;
}
.chatfenster{
	height: 500px;
	overflow-y: auto;
	background: #f7f7f7;
	border-radius: 16px;
	padding: 10px 30px 20px 30px;
}
.chatfenster .chat{
	margin: 20px 0;
}
.chatfenster .chat p{
	word-wrap: break-word;
	padding: 8px 16px;
	box-shadow: 0 0 32px rgb(0 0 0 / 8%),
		    0 16px 16px -16px rgb(0 0 0 / 10%);
}
.chatfenster .chat-senden{
	display: flex;
}
.chat-senden .details{
	margin-left: auto;
	max-width: calc(100% - 130px);
}
.chat-senden .details p{
	padding: 10px;
	background: #F5DEC1;
	color: #563C26;
	border-radius: 18px 18px 0 18px;
	margin-top: 5px;
    margin-bottom: 0;
}
.chatfenster .chat-empfangen{
	display: flex;
}
.chat-empfangen .details{
	margin-right: auto;
	max-width: calc(100% - 130px);
}
.chat-empfangen .details p{
	padding: 10px;
	background: #563C26;
	color: #F5DEC1;
	border-radius: 18px 18px 18px 0px;
	margin-top: 5px;
    margin-bottom: 0;
}
.chat .typing-area{
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
}
.typing-area input{
	height: 45px;
	width: 380px;
	font-size: 17px;
	padding: 0 13px;
	border: none;
	border-radius: 5px 0px 0px 5px;
}
.addFriend{
	padding: 30px;
}
.addFriend header{
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #563C26;
}

.addFriend header .backIcontoChat {
	text-decoration: none;
	position: absolute;
	left: 30;
	color: #563C26;
}

.addFriend header .backIcontoChat:hover{
	color: #497E82;
}
.addFriend .addFriend-area{
	padding: 30px 0px;
	display: flex;
	justify-content: space-between;
}

.addFriend-area input{
	margin-top: 80px;
	height: 45px;
	width: 343px;
	font-size: 17px;
	padding: 0 13px;
	border-radius: 5px 0 0 5px;
	border: none;
}
.typing-area button{
	width: 60px;
	height: 45px;
	background: #563C26;
	color: #F5DEC1;
	font-size: 15px;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	border: none;
}

.typing-area button:hover{
	background-color: #497E82;
}

.addFriend-area button{
	margin-top: 80px;
	width: 60px;
	background: #563C26;
	color: #F5DEC1;
	cursor: pointer;
	border: none;
	border-radius: 0 5px 5px 0;
}
.addFriend header .logout{
	color: #F5DEC1;
	height: 35px;
	font-size: 17px;
	padding: 7px 15px;
	background: #563C26;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	position: absolute;
	right: 30;
	top: 50;
}
.addFriend header .content img{
	height: 60px;
	width: 60px;
}
.addFriend header span{
	font-size: 17px;
	font-weight: 500;
}
.homeland{
	height: 800px;
	width: 400px;
	padding: 25px 30px;
}
.homeland header{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #563C26;
	justify-content: center;
}

.homeland header .content img{
	height: 60px;
	width: 60px;
}

.homeland header span{
	font-size: 17px;
	font-weight: 500;
}

.homeland header .logout{
	color: #F5DEC1;
    height: 35px;
    font-size: 17px;
    padding: 7px 15px;
    background: #563C26;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 30;
    top: 50;
}

.homeland header .backIcontoChat {
	text-decoration: none;
	position: absolute;
	left: 30;
	color: #563C26;
}

.homeland header .backIcontoChat:hover{
	color: #497E82;
}

.homelandProfiles .content{
	margin: 0 15px;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	display: flex;
	
}
.homelandProfiles .content img{
	height: 200px;
	width: 200px;
	margin-left: 20px;
	margin-right: 20px;
}
.homelandProfiles .nextButton button{
	color: #F5DEC1;
	font-size: 17px;
	padding: 7px 15px;
	background: #563C26;
	border-radius: 5px;
	cursor: pointer; 
}
.homelandProfiles .backButton button{
	color: #F5DEC1;
	font-size: 17px;
	padding: 7px 15px;
	background: #563C26;
	border-radius: 5px;
	cursor: pointer;
}
.homelandProfiles .homelandDetails{
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
.homelandProfiles a.homelandDetails:hover{
	font-weight:bold
}

:is(.chat header, .addFriend header, .homeland header) .logout:hover{
	background-color: #497E82;
}
