body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color:#F3B99F
}
	
.wrapper{
	background: #F5DEC1;
	max-width: 900px;
	border-radius: 16px;
	box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
		    0 32px 64px -48px rgba(0,0,0,0.5);
	display: flex;
}
.form{
	padding:25px 30px;
}
.form header{
	font-size: 25px;
	font-weight: 600;
	color: #563C26;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6
}
.form form{
	margin: 20px 0;
}
.form form .error-txt{
	color: #721C24;
	background: #F8D7DA;
	padding: 8px 10px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 10px;
	border: 1px solid #DC3545;
}
.form form .nameAndCountry-details{
	display:flex;
}
.form .nameAndCountry-details .field:first-child{
	margin-right: 10px;
}
.form .nameAndCountry-details .field:last-child{
	margin-left: 10px;
}
.form form .field{
	display: flex;
	flex-direction: column;
	background: #F5DEC1;
	color: #A7443B;
	margin-bottom: 10px;
}
.form form .field label{
	margin-bottom: 2px;
	color: #A7443B;
}
.form form .input input{
	height: 40px;
	width: 100%;
	font-size: 15px;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.form form .select select{
	height: 40px;
	width: 100%;
	font-size: 15px;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.form form .image input{
	font-size: 17px;
}
.form form .registerButton input{
	margin-top: 13px;
	height: 45px;
	border:none;
	font-size: 17px;
	font-weight: 400;
	background: #563C26;
	color: #F5DEC1;
	border-radius: 5px;
	cursor: pointer;
}
.form form .loginButton input{
	margin-top: 13px;
	height: 45px;
	border:none;
	font-size: 17px;
	font-weight: 400;
	background: #563C26;
	color: #F5DEC1;
	border-radius: 5px;
	cursor: pointer;
}
.form .link{
	text-align:center;
	margin: 10px 0;
	font-size: 17px;
	color: #A7443B;
}
.form .link a:hover{
	text-decoration: underline;
}
.friends{
	padding: 25px 30px;
	flex: 2;
}
.friends header,
.friendslist a{
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	justify-content: space-between;
	border-bottom: 1px solid #e6e6e6;
}
.friends .FriendlistBottom{
	margin-top: 120px;
}
.wrapper img{
	object-fit:cover;
	border-radius: 50%;
}
:is(.friends, .friendslist, .chat) .content{
	display: flex;
	align-items: center;
}
.friends header .content img{
	height: 50px;
	width: 50px;
}
:is(.friends, .friendslist, .chat, .addFriend) .details{
	color: #000;
	margin-left: 15px;
}
:is(.friends, .friendslist) .details span{
	font-size: 18px;
	font-weight: 500;
	margin-right: 20px;
}
.friends header .Addfriend{
	color: #F5DEC1;
	font-size: 17px;
	padding: 7px 20px;
	background: #563C26;
	border-radius: 5px;
	cursor: pointer;
}
.friends .search{
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.friends .search .text{
	font-size: 18px;
}
.friends .search input{
	position: absolute;
	height: 42px;
	width: 195px;
	border: 1px solid #ccc;
	padding: 0 13px;
	font-size: 16px;
	border-radius: 5px;
}
.friends .search button{
	width: 47px;
	height: 42px;
	border: none;
	outline: none;
	color: #F5DEC1;
	background: #563C26;
	cursor: pointer;
	font-size: 17px;
	border-radius: 0 5px 5px 0;
}
.friendslist{
	max-height: 350px;
	overflow-y: auto;
}
:is(.friendslist, .chatfenster)::-webkit-scrollbar{
	width: 0px;
}
.friendslist a{
	padding-right: 15px;
}
.friendslist a .content img{
	height: 40px;
	width: 40px;
}
.chat{
	padding: 25px 30px;
	flex: 1;
}
.chat header{
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	justify-content: space-between;
	border-bottom: 1px solid #e6e6e6;
}
.chat header .logout{
	color: #F5DEC1;
	font-size: 17px;
	padding: 7px 15px;
	background: #563C26;
	border-radius: 5px;
	cursor: pointer;
}
.chat header .content img{
	height: 45px;
	width: 45px;
	margin: 0 15px;
}
.chat header span{
	font-size: 17px;
	font-weight: 500;
}
.chatfenster{
	height: 500px;
	overflow-y: auto;
	background: #f7f7f7;
	border-radius: 16px;
	padding: 10px 30px 20px 30px;
	box-shadow: inset 0 32px 32px rgb(0 0 0 / 5%),
		    inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chatfenster .chat{
	margin: 15px 0
}
.chatfenster .chat p{
	word-wrap: break-word;
	padding: 8px 16px;
	box-shadow: 0 0 32px rgb(0 0 0 / 8%),
		    0 16px 16px -16px rgb(0 0 0 / 10%);
}
.chatfenster .chat-senden{
	display: flex;
}
.chat-senden .details{
	margin-left: auto;
	max-width: calc(100% - 130px);
}
.chat-senden .details p{
	background: #F5DEC1;
	color: #563C26;
	border-radius: 18px 18px 0 18px;
}
.chatfenster .chat-empfangen{
	display: flex;
}
.chat-empfangen .details{
	margin-right: auto;
	max-width: calc(100% - 130px);
}
.chat-empfangen .details p{
	background: #563C26;
	color: #F5DEC1;
	border-radius: 18px 18px 18px 0px;
}
.chat .typing-area{
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
}
.typing-area input{
	height: 45px;
	width: 342px;
	font-size: 17px;
	border: 1px solid #ccc;
	padding: 0 13px;
	border-radius: 5px
}
.addFriend{
	padding: 25px 30px;
}
.addFriend header{
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	justify-content: space-between;
	border-bottom: 1px solid #e6e6e6;
}
.addFriend .addFriend-area{
	padding: 30px 0px;
	display: flex;
	justify-content: space-between;
}
.addFriend-area input{
	margin-top: 180px;
	height: 45px;
	width: 343px;
	font-size: 17px;
	border: 1px solid #ccc;
	padding: 0 13px;
	border-radius: 5px
}
.typing-area button{
	width: 60px;
	background: #563C26;
	color: #F5DEC1;
	cursor: pointer;
}
.addFriend-area button{
	margin-top: 180px;
	width: 60px;
	background: #563C26;
	color: #F5DEC1;
	cursor: pointer;
}
.addFriend header .logout{
	color: #F5DEC1;
	font-size: 17px;
	padding: 7px 15px;
	background: #563C26;
	border-radius: 5px;
	cursor: pointer;
}
.addFriend header .content img{
	height: 45px;
	width: 45px;
	margin: 0 15px;
}
.addFriend header span{
	font-size: 17px;
	font-weight: 500;
}